<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tarea: Juego de Memoria.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>827542BF1C5EBA6F008ED94A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>827542D31C5EBA70008ED94A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>827542DE1C5EBA70008ED94A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
